SERVICE_ENVIRONMENT=dev

## Database
SERVICE_DB_DRIVER=mysql
SERVICE_DB_HOST=127.0.0.1
SERVICE_DB_PORT=3306
SERVICE_DB_DATABASE=city_os
SERVICE_DB_USERNAME=root
SERVICE_DB_PASSWORD=root
SERVICE_DB_QUERYSTRING=parseTime=true
